<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="production" connectionString="server=185.173.110.214, 6001; database=test; user=sa; password=mdrfZ4tkfRRAg1Ff2E"/>
	</connectionStrings>
</configuration>